In [15]:
# Alexander Spurlock
# 11/03/2022
# Lab 9: Data Sets

import pandas

df = pandas.read_csv('wic_ebt.csv', names=['countyname','effectivedate','foodcategory','food_subcategory','issuedqty','redeemedqty','redemption_rate'])

In [16]:
df.values

array([['021-08-01', 'JUICE - 64 OZ.', '100%JUICE - 64 OZ. CONT.', ...,
        8137.0, 55.22, nan],
       ['Cuyahoga', '2021-08-01', 'MILK - WHOLE', ..., 3.0, 1.0, 33.33],
       ['Cuyahoga', '2021-08-01', 'MILK 2%, 1%, 1/2%, SKIM', ..., 2048.0,
        745.0, 36.37],
       ...,
       ['Wyandot', '2021-10-01', 'MILK 2%, 1%, 1/2%, SKIM', ..., 4.0,
        0.0, 0.0],
       ['Wyandot', '2021-10-01', 'MILK 2%, 1%, 1/2%, SKIM', ..., 45.0,
        32.5, 72.22],
       ['Wyandot', '2021-10-01', 'YOGURT', ..., 608.0, 192.0, 31.57]],
      dtype=object)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8250 entries, 0 to 8249
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   countyname        8250 non-null   object
 1   effectivedate     8250 non-null   object
 2   foodcategory      8250 non-null   object
 3   food_subcategory  8250 non-null   object
 4   issuedqty         8250 non-null   float64
 5   redeemedqty       8250 non-null   float64
 6   redemption_rate   8249 non-null   float64
dtypes: float64(3), object(4)
memory usage: 322.3+ KB

In [18]:
df.head()

,countyname,effectivedate,foodcategory,food_subcategory,issuedqty,redeemedqty,redemption_rate
0,021-08-01,JUICE - 64 OZ.,100%JUICE - 64 OZ. CONT.,14733,8137.0,55.22,NaN
1,Cuyahoga,2021-08-01,MILK - WHOLE,WHOLE DRY MILK 25.6 OZ,3.0,1.00,33.33
2,Cuyahoga,2021-08-01,"MILK 2%, 1%, 1/2%, SKIM",LACTOSE FREE MILK LOWFAT/SKIM,2048.0,745.00,36.37
3,Cuyahoga,2021-08-01,"MILK 2%, 1%, 1/2%, SKIM",SOY MILK 1/2 GAL,366.5,165.50,45.15
4,Cuyahoga,2021-08-01,WIC-ELIGIBLE MEDICAL FOODS (WEMF),WIC-ELIGIBLE MEDICAL FOODS (WEMF),13606.0,9504.00,69.85

In [19]:
df.tail()

,countyname,effectivedate,foodcategory,food_subcategory,issuedqty,redeemedqty,redemption_rate
8245,Wyandot,2021-10-01,MILK - WHOLE,LACTOSE FREE WHOLE MILK,3.0,2.0,66.66
8246,Wyandot,2021-10-01,MILK - WHOLE,MILK - WHOLE ALL TYPES,54.0,40.0,74.07
8247,Wyandot,2021-10-01,"MILK 2%, 1%, 1/2%, SKIM",LACTOSE FREE MILK LOWFAT/SKIM,4.0,0.0,0.00
8248,Wyandot,2021-10-01,"MILK 2%, 1%, 1/2%, SKIM",MILK 2%,45.0,32.5,72.22
8249,Wyandot,2021-10-01,YOGURT,YOGURT - WHOLE MILK,608.0,192.0,31.57

In [20]:
df['foodcategory']

0                100%JUICE - 64 OZ. CONT.
1                            MILK - WHOLE
2                 MILK 2%, 1%, 1/2%, SKIM
3                 MILK 2%, 1%, 1/2%, SKIM
4       WIC-ELIGIBLE MEDICAL FOODS (WEMF)
                      ...
8245                         MILK - WHOLE
8246                         MILK - WHOLE
8247              MILK 2%, 1%, 1/2%, SKIM
8248              MILK 2%, 1%, 1/2%, SKIM
8249                               YOGURT
Name: foodcategory, Length: 8250, dtype: object

In [22]:
df['foodcategory'].value_counts

<bound method IndexOpsMixin.value_counts of 0                100%JUICE - 64 OZ. CONT.
1                            MILK - WHOLE
2                 MILK 2%, 1%, 1/2%, SKIM
3                 MILK 2%, 1%, 1/2%, SKIM
4       WIC-ELIGIBLE MEDICAL FOODS (WEMF)
                      ...
8245                         MILK - WHOLE
8246                         MILK - WHOLE
8247              MILK 2%, 1%, 1/2%, SKIM
8248              MILK 2%, 1%, 1/2%, SKIM
8249                               YOGURT
Name: foodcategory, Length: 8250, dtype: object>

In [23]:
df[100:104]

,countyname,effectivedate,foodcategory,food_subcategory,issuedqty,redeemedqty,redemption_rate
100,Belmont,2021-08-01,LEGUMES,PEANUT BUTTER 16-18 OZ.,462.0,201.0,43.50
101,Belmont,2021-08-01,"MILK 2%, 1%, 1/2%, SKIM",LACTOSE FREE MILK-2%,19.0,10.5,55.26
102,Belmont,2021-08-01,"MILK 2%, 1%, 1/2%, SKIM","MILK 2%, 1%, 1/2%, FAT FREE",1291.5,685.0,53.03
103,Belmont,2021-08-01,WIC-ELIGIBLE MEDICAL FOODS (WEMF),WIC-ELIGIBLE MEDICAL FOODS (WEMF),756.0,348.0,46.03